a{
    padding: 10px;
    margin: 10px
}

#active{
    font-weight: bolder;
    color: orange;
    background: teal;

}
h1{
    background: #000;
    color: orange;
    padding: 10px;
    text-align: center;
}

img{
    width: 100%;
}